<section>
    <ion-icon name="arrow-back" routerLink="/todo"></ion-icon>
    <h1>
        Liste des taches
    </h1>

    <div *ngIf="error">
        <button class="btn" (click)="reload()">Rechargement</button>
    </div>
    <h1 *ngIf="!todoList && !error">
        Loading !!
    </h1>
    <button routerLink="/todo/create">create</button>
    <ion-icon name="create"></ion-icon>


    <ul *ngFor="let todo of todoList">
        <h3>{{todo.name}}</h3>
        <li>{{todo.description}}</li>
        <button [disabled]="todo == null" class="btn" (click)="delete(todo)">Supprimer</button>
    </ul>

</section>