<!-- <section>
    <ion-icon name="arrow-back" routerLink="/todo"></ion-icon>
    <h1 id="create">
        Créer
    </h1>
    <form [formGroup]="formTodo" (ngSubmit)="save()">
        <ion-item id="form-nom">
            <ion-label>Nom de la tâche</ion-label>
            <ion-input type="text" formControlName="nom"></ion-input>
        </ion-item>
        <ion-item id="form-desc">
            <ion-label>Description</ion-label>
            <ion-textarea type="text" formControlName="description"></ion-textarea>
        </ion-item>
        <button [disabled] ion-button type="submit">Save</button>
    </form>
</section> -->


<!-- #nom by this way we can select input for manipulation  -->

<input placeholder="Nom" #nom/><br><br>
<input placeholder="Description" #description/><br><br>
<button (click)="save(nom.value, description.value)">SAVE</button>


<button routerLink="/todo/list">list</button>