<section>

    <!-- #name by this way we can select input for manipulation  -->
    <ion-icon name="arrow-back" routerLink="/todo"></ion-icon>
    <h1 id="create">
        Créer
    </h1>
    <form [formGroup]="formTodo" (ngSubmit)="save()">
        <ion-item id="form-name">
            <ion-label>Nom de la tâche</ion-label>
            <ion-input type="text" formControlName="name" #name></ion-input>
        </ion-item>
        <ion-item id="form-desc">
            <ion-label>Description</ion-label>
            <ion-textarea type="text" formControlName="description" #description></ion-textarea>
        </ion-item>
        <div class="enregistrer">
            <button [disabled]="btnDisabled" ion-button type="submit">
        {{ btnText }}
        </button>
        </div>
        <!-- <ion-icon name="send-sharp"></ion-icon> -->
        <!-- <button ion-button color="dark" round type="submit">{{ btnText }}</button> -->
    </form>
    <div class="bandeau">
        <a routerLink="/todo/list">
            <h1>Découvrez içi vos tâches</h1>
        </a>
    </div>
</section>