<section>

    <!-- #nom by this way we can select input for manipulation  -->
    <ion-icon name="arrow-back" routerLink="/todo"></ion-icon>
    <h1 id="create">
        Créer
    </h1>
    <form [formGroup]="formTodo" (click)="buttonClick()" [disabled]="btnDisabled" [ngStyle]="{'color': (btnDisabled)?
                                'gray': 'black'}" (ngSubmit)="save(nom.value, description.value)">
        <ion-item id="form-nom">
            <ion-label>Nom de la tâche</ion-label>
            <ion-input type="text" formControlName="nom" #nom></ion-input>
        </ion-item>
        <ion-item id="form-desc">
            <ion-label>Description</ion-label>
            <ion-textarea type="text" formControlName="description" #description></ion-textarea>
        </ion-item>
        <button ion-button type="submit">
        {{ btnText }}
    </button>
    </form>

    <!-- <ion-card>
    <ion-card-header>
            Card Header
    </ion-card-header>
    </ion-card> -->

    <button routerLink="/todo/list">list</button>

</section>