<ion-img id="img-header" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE2MjmGuHLVI69EAtWWc1o3Pr-m9laXLjc4Q&usqp=CAU"></ion-img>
<div class="block-home">
    <p>
        "Ce n'est pas tant le nombre de choses à faire qui pose problème, c'est surtout de savoir les organiser"
    </p>
    <div class="bandeau">
        <h1>Gérez vos tâches en un clic</h1>
    </div>
    <div class="start-button">
        <ion-button routerLink="/todo/create">créer</ion-button>
        <ion-button routerLink="/todo/list">Votre liste</ion-button>
    </div>
</div>