:host {
    background-color: rgba(203, 111, 246, 0.685);
    display: block;
    width: 100vw;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
}